/* html {
  background-color: #000
}

.img-box {
  max-width: 100%;
}


.img-el {
  width: 100%;
  height: auto;
}

.date-author {
  font-size: 12px;
  font-style: italic;
  letter-spacing: 0.7em;
  color: #eece1a
}

.article-box {
  background-color: #000;
} */