{% extends 'base.html'%}
{% import 'macros.html' as macro%}


<!-- Content block -->
{% block content %}

<!-- general news -->
<h3> General news</h3>
<ul>
    {{ macro.displayNews(General)}}
</ul>

<!---Business news-->
<h3> Business news</h3>
<ul>
    {{ macro.displayNews(Business)}}
</ul>

<!--Entertainment news-->
<h3> Entertainment news</h3>
<ul>
    {{ macro.displayNews(Entertainment)}}
</ul>

<!---sports news-->
<h3> Sports news</h3>
<ul>
    {{ macro.displayNews(Sports)}}
</ul>

<!---Technology news--->
<h3> Technology news</h3>
<ul>
    {{ macro.displayNews(Technology)}}
</ul>

<!--Science news-->
<h3> Science news</h3>
<ul>
    {{ macro.displayNews(Science)}}
</ul>

<!---Health news--->
<h3> Health news</h3>
<ul>
    {{ macro.displayNews(Health)}}
</ul>


{% endblock%}







