{% macro displayNews(category) %}

{% for category in category %}

<div class="col-md-3 single-source">
    <div class="row">
        <div class="col-md-4 source-name">
            <h3> {{category.name}} </h3>
        </div>
        <div class="col-md-7 source-details">
            <p> {{category.description|truncate(150)}}
                <br>
                <a href="/articles/{{category.id}}&40">Read Articles</a>
            </p>
        </div>
    </div>
</div>

<!--<div class="card" style="width: 18rem;">-->
<!--<img class="card-img-top" src="..." alt="Card image cap">-->
<!--<div class="card-body">-->
<!--<h5 class="card-title">Card title</h5>-->
<!--<p class="card-text">{{category.description|truncate(150)}}</p>-->
<!--<a href="#" class="btn btn-primary">Go somewhere</a>-->
<!--</div>-->
<!--</div>-->
{% endfor %}

{% endmacro %}